main {
    margin: 30px auto 20px auto;
    width: max-content;
    min-height: 310px;
    border: 1px solid black;
    /* font-family: 'Merienda', cursive; */
    font-family: 'Ubuntu', sans-serif;
}