#field td {
	width: 80px;
	height: 80px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
}
#field td:hover {
		transform: scale(0.95);
		border: 1px solid rgb(241, 6, 6);
	  }
	  
.button:hover {
		transform: scale(0.95);
		
	  }

