<IfModule mod_rewrite.c>

  RewriteEngine on
  SetEnvIf X-Forwarded-Proto https SERVER_PORT=443
  SetEnvIf X-Forwarded-Proto https HTTPS=on
  RewriteCond %{HTTP:HTTPS} !=on [NC]
  RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
  Order deny,allow
  Deny from all
  Allow from 81.90.180.43 1.90.181.209
  Allow from host teststudyweb
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]


</IfModule>